body {

  background: #fff;
  font-weight: 400;
  color: #64686d;
  line-height: 26px;}
.form-search {width: 20%;float: right;}


.main-menu{background: #008ece;background-size: 100%; }
.main-menu ul.menu  li{float: left;}
.main-menu ul{
width: 1170px;
margin: 0 auto;
}
.main-menu ul li a
{
    color: #fff;
    border-right: 1px solid;
}
.main-menu ul li.last a{  border-right: none;}

.main-menu .dropdown-menu>.active>a, 
.main-menu .dropdown-menu>.active>a:hover, 
.main-menu .dropdown-menu>.active>a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #9f9d82;
  outline: 0;
}
.main-menu ul li:hover a,
.main-menu  .nav .open>a, 
.main-menu  .nav .open>a:focus{
    background-color: #fff;
    color: #9f9d82;
}

#block-system-main-menu li ul.dropdown-menu {
  position: absolute;
  top: 40px;
  padding-left: 0px;
  width: 100%;
  display: none;
}

.main-menu li:hover ul.dropdown-menu,
.main-menu li:focus ul.dropdown-menu{
    display: block !important;
}
.main-menu  .caret,
.main-menu .nav a:hover .caret{
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -2px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding:0; 
  margin: 0; 
  font-size: 14px;
  list-style: none;
  background: #fff; 
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-clip: padding-box;
}
.dropdown-menu a{color:#008ece;}
#block-system-main-menu li:hover ul {display : block;}
.main-menu li ul li {
  width: 100%;
  margin-top: 1px;
  position: relative;
}
.main-menu li ul li a {
  //background-color: #2d2d2d;
  font-size: 14px;
  padding: 3px;
  width: 92%;
  display: block;
  padding-left: 10px;
  border-right: 0px;
}
/* front slider*/
.full-width.front-slider {
  position: relative;
}
.cycle-slideshow img {
  width: 100%;
  max-width:1400px;
  height: auto;
}
#front-pager{
    position: absolute;
    bottom: 50px;
    color: #fff;
    z-index: 100;
    left: 10%;
}
.cycle-pager-active{
    font-size: 25px;
}
.cycle-pager span {
  padding: 0 10px 0 0;
  display: table-cell;
  vertical-align: middle;
}
#prev{
position: absolute;
z-index: 10000;
color: #fff;
cursor: pointer;
left: 0%;
font-size: 25px;
background: url("../images/big-arrows.png") no-repeat scroll -210px -68px ;
height: 94px;
width: 55px;
top: 120px;
opacity: 0;
}
#next{
 font-size: 25px;
position: absolute;
z-index: 10000;
color: #fff;
cursor: pointer;
top: 120px;
right: 0%;
height: 94px;
width: 55px;
background: url("../images/big-arrows.png") no-repeat scroll -271px -68px ;
opacity: 0;
}
.front-slider:hover #next,
.front-slider:hover #prev{opacity: 1;}

/* front text*/
.front-text{  padding: 20px 0;
  background-color: #eeeeee;
    border-left: 3px solid #008ece;
}
 .front-text h2 {
  font-weight: 600;
  color: #272727;
 }
 /*sections front block*/
.portfolio-item {
  position: relative;
  float: left;
  margin: 0 8px 12px 0;
  width: 224px;
}
.portfolio-item .portfolio-image, 
.portfolio-item .portfolio-image img {
  display: block;
  position: relative;
  width: 224px;
  height: 180px;
}
.portfolio-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #008ece;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.9;
}
.portfolio-overlay-wrap {
  position: relative;
  padding: 15px;
  color: #FFF;
}
.portfolio-title {
  position: relative;
  text-align: center;
  padding: 1px 0;
  border-bottom: 1px solid #DDD;
  background-color: #F5F5F5;
  width: 225px;
}
.portfolio-title h3 {
  padding-bottom: 0;
  font-size: 14px;
  font-weight: normal;
}
.portfolio-title h3 a {
  color: #555;
  text-shadow: 1px 1px 1px #FFF;
  text-decoration: none;
}
.portfolio-item:hover .portfolio-title {
border-bottom-color: #57B3DF;

}
#block-views-section-front-block .block-title{
 
}
 
.page-title
{  position: relative;
  background-color: #F5F5F5;
  padding: 30px 0;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.07);
  -moz-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.07);
  -webkit-box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.07);
  border-top-color: #E5E5E5;
}
.page-title h1{ width: 1150px; margin: 0 auto;}
.front .page-title,
#first-time{display: none;}


/*language switcher*/
#block-locale-language{
    float: right;
}
#block-locale-language ul li {
  float: left;
  list-style: none;
  padding: 10px 10px 0;
  height: 40px;

}

#block-locale-language ul li a{color: #9f9d82}

/*partnetes */
.partner-title {
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid #E7E7E7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 5px;
    position: relative;
    padding: 30px 30px 110px;
}
.partner-title_header {
    text-align: center;
    margin-bottom: 15px;
}
.partner-title_link {
    position: absolute;
    display: block;
    text-align: center;
    padding: 6px 0px;
    color: #6E8AB4;
    border: 1px solid #B5C4DA;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
    left: 30px;
    bottom: 30px;
    right: 30px;
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: border-color, color;
}
.partner-title_header img{
  width: 218px;}
.news-images li,
.event-images li{
    float: left;
}